body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 100px;
    color: white;
}

.border-letter {

    font-size: 100px;
    -webkit-text-stroke: 5px #ffffff;
    font-size: 250px;
    -webkit-text-stroke: 3.5px #000000;
    font-family: "'Georgia";
}

.button-container {
    display: flex;
    gap: 50px;
}

button {
    padding: 10px 20px;
    font-size: 30px;
    background-color: #0a3a18;
    margin-bottom: 100px;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: #0a3a18;
}

body {
    background-image: url('../images/Imagen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.permiso {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    nav-up: 1000;
}

footer {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px 0;
}

.body {
    font-family: 'Vivaldi';
}

body {
    background-image: url('../images/Imagen\ de\ fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: center;

    background-position: center center;
    background-color: transparent;
}