body {
    background: rgb(217, 210, 210);
    background: #f0e6d2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border: 10px solid black;
    max-width: 80%;

    padding: 20px;

    background-color: rgba(255, 255, 255, 0.8);

    border-radius: 10px;

}

.image-container img {
    max-width: 12%;

    margin: 20px;

}

h1 {
    font-size: 150px;
    color: rgb(0, 0, 0);
    font-family: 'Parisienne';
    -webkit-text-stroke: 4px #ffffff;
}

.image-container p,
.Descripcion p {
    font-size: 25px;
    color: #333;
    text-align: center;
}


.image-container {
    text-align: center;

    margin-bottom: 30px;

}

.image-container img {
    border-radius: 50%;

    margin-bottom: 10px;

}

.image-container {
    text-align: center;

    margin-bottom: 30px;

}

.image-container img {
    border-radius: 50%;

    margin-bottom: 10px;

}