body {
    background: rgb(217, 210, 210);
    background: #f0e6d2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border: 10px solid black;
    max-width: 80%;
    /* Asegura que el contenedor no sea más ancho que el 80% del ancho de la ventana */
    padding: 20px;
    /* Espacio interno dentro del contenedor */
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo semi-transparente blanco */
    border-radius: 10px;
    /* Bordes redondeados */
}

.image-container img {
    max-width: 12%;
    /* Asegura que las imágenes no superen el ancho del contenedor */
    margin: 20px;
    /* Espacio entre las imágenes */
}

h1 {
    font-size: 150px;
    color: rgb(0, 0, 0);
    font-family: 'Parisienne';
    -webkit-text-stroke: 4px #ffffff;
}

.image-container p,
.Descripcion p {
    font-size: 25px;
    color: #333;
    text-align: center;
}


.image-container {
    text-align: center;
    /* Centrar las imágenes y textos */
    margin-bottom: 30px;
    /* Espacio entre imágenes y texto */
}

.image-container img {
    border-radius: 50%;
    /* Añadir bordes redondeados a las imágenes */
    margin-bottom: 10px;
    /* Espacio entre imágenes */
}

.image-container {
    text-align: center;
    /* Centrar las imágenes y textos */
    margin-bottom: 30px;
    /* Espacio entre imágenes y texto */
}

.image-container img {
    border-radius: 50%;
    /* Añadir bordes redondeados a las imágenes */
    margin-bottom: 10px;
    /* Espacio entre imágenes */
}